<div class="container-fluid">

  <h2 class="text-success text-center">Editar empleado</h2>

  <%= render 'form' %>

  <%= link_to 'ver', @employee ,:class=>'btn btn-info'%> 
  <%= link_to 'Atras', employees_path ,:class=>'btn btn-success'%>
</div>